body {
    margin: none;
}
.buttons {
    display: flex;
}
.grid {
    display: flex;
}
/* .grid-column {
    display: flex;
    flex-direction: column;
} */
.item {
    border: black 1px solid;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    margin-left: 5px;
    margin-top: 5px;
}
