body {
    margin: none;
}
.grid {
    display: grid;
    column-gap: 10px;
    row-gap: 15px;
}
.grid-column {
    display: flex;
    flex-direction: column;
}
.item {
    border: black 1px solid;
    width: 50px;
    height: 50px;
}